@font-face {
  font-family: LatoWebBlack;
  src: url("Lato-Black.09403a8f.eot");
  src: url("Lato-Black.09403a8f.eot#iefix") format("embedded-opentype"), url("Lato-Black.cb2efd0f.woff2") format("woff2"), url("Lato-Black.2edfb36a.woff") format("woff"), url("Lato-Black.17ddeb8e.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebBlack;
  src: url("Lato-BlackItalic.98cb77e7.eot");
  src: url("Lato-BlackItalic.98cb77e7.eot#iefix") format("embedded-opentype"), url("Lato-BlackItalic.6bce9ba3.woff2") format("woff2"), url("Lato-BlackItalic.129d4afa.woff") format("woff"), url("Lato-BlackItalic.b74f238c.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebBold;
  src: url("Lato-Bold.e08a0f15.eot");
  src: url("Lato-Bold.e08a0f15.eot#iefix") format("embedded-opentype"), url("Lato-Bold.d910a69f.woff2") format("woff2"), url("Lato-Bold.68f66826.woff") format("woff"), url("Lato-Bold.e155d2c8.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebBold;
  src: url("Lato-BoldItalic.dfb0fe73.eot");
  src: url("Lato-BoldItalic.dfb0fe73.eot#iefix") format("embedded-opentype"), url("Lato-BoldItalic.eeb6e126.woff2") format("woff2"), url("Lato-BoldItalic.5171cdb1.woff") format("woff"), url("Lato-BoldItalic.2fc2a868.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebHairline;
  src: url("Lato-Hairline.2c7be31c.eot");
  src: url("Lato-Hairline.2c7be31c.eot#iefix") format("embedded-opentype"), url("Lato-Hairline.6c116891.woff2") format("woff2"), url("Lato-Hairline.b01a6fae.woff") format("woff"), url("Lato-Hairline.73600c04.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebHairline;
  src: url("Lato-HairlineItalic.9a408b05.eot");
  src: url("Lato-HairlineItalic.9a408b05.eot#iefix") format("embedded-opentype"), url("Lato-HairlineItalic.4ca5ded1.woff2") format("woff2"), url("Lato-HairlineItalic.6eb9583f.woff") format("woff"), url("Lato-HairlineItalic.60b50daf.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebHeavy;
  src: url("Lato-Heavy.e6b4abbb.eot");
  src: url("Lato-Heavy.e6b4abbb.eot#iefix") format("embedded-opentype"), url("Lato-Heavy.5705a83f.woff2") format("woff2"), url("Lato-Heavy.6c0b4921.woff") format("woff"), url("Lato-Heavy.04116791.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebHeavy;
  src: url("Lato-HeavyItalic.7ab8991d.eot");
  src: url("Lato-HeavyItalic.7ab8991d.eot#iefix") format("embedded-opentype"), url("Lato-HeavyItalic.0ee118c1.woff2") format("woff2"), url("Lato-HeavyItalic.114db1e5.woff") format("woff"), url("Lato-HeavyItalic.3e412539.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWeb;
  src: url("Lato-Italic.419ce462.eot");
  src: url("Lato-Italic.419ce462.eot#iefix") format("embedded-opentype"), url("Lato-Italic.655dd583.woff2") format("woff2"), url("Lato-Italic.fae07c38.woff") format("woff"), url("Lato-Italic.2e13cce5.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebLight;
  src: url("Lato-Light.226d10f5.eot");
  src: url("Lato-Light.226d10f5.eot#iefix") format("embedded-opentype"), url("Lato-Light.c129de93.woff2") format("woff2"), url("Lato-Light.5c05a4c8.woff") format("woff"), url("Lato-Light.ba7d5bfd.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebLight;
  src: url("Lato-LightItalic.076d4330.eot");
  src: url("Lato-LightItalic.076d4330.eot#iefix") format("embedded-opentype"), url("Lato-LightItalic.766bc8be.woff2") format("woff2"), url("Lato-LightItalic.18513377.woff") format("woff"), url("Lato-LightItalic.042639aa.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebMedium;
  src: url("Lato-Medium.f8ccdf61.eot");
  src: url("Lato-Medium.f8ccdf61.eot#iefix") format("embedded-opentype"), url("Lato-Medium.6a9bcffe.woff2") format("woff2"), url("Lato-Medium.2a8bb5e0.woff") format("woff"), url("Lato-Medium.0b7e1f17.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebMedium;
  src: url("Lato-MediumItalic.c441336b.eot");
  src: url("Lato-MediumItalic.c441336b.eot#iefix") format("embedded-opentype"), url("Lato-MediumItalic.399f6db7.woff2") format("woff2"), url("Lato-MediumItalic.c4326b7f.woff") format("woff"), url("Lato-MediumItalic.559be8b5.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWeb;
  src: url("Lato-Regular.1d29ba21.eot");
  src: url("Lato-Regular.1d29ba21.eot#iefix") format("embedded-opentype"), url("Lato-Regular.26a6685e.woff2") format("woff2"), url("Lato-Regular.3cee763f.woff") format("woff"), url("Lato-Regular.1ff69fb0.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebSemibold;
  src: url("Lato-Semibold.a6be8daf.eot");
  src: url("Lato-Semibold.a6be8daf.eot#iefix") format("embedded-opentype"), url("Lato-Semibold.845e89de.woff2") format("woff2"), url("Lato-Semibold.7bd38fa2.woff") format("woff"), url("Lato-Semibold.7daf5167.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebSemibold;
  src: url("Lato-SemiboldItalic.dafa4795.eot");
  src: url("Lato-SemiboldItalic.dafa4795.eot#iefix") format("embedded-opentype"), url("Lato-SemiboldItalic.fe317f9a.woff2") format("woff2"), url("Lato-SemiboldItalic.15c2f983.woff") format("woff"), url("Lato-SemiboldItalic.73e66d1a.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebThin;
  src: url("Lato-Thin.a64de23f.eot");
  src: url("Lato-Thin.a64de23f.eot#iefix") format("embedded-opentype"), url("Lato-Thin.3a9a6030.woff2") format("woff2"), url("Lato-Thin.f8f8adc2.woff") format("woff"), url("Lato-Thin.317bf82a.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@font-face {
  font-family: LatoWebThin;
  src: url("Lato-ThinItalic.3e739a59.eot");
  src: url("Lato-ThinItalic.3e739a59.eot#iefix") format("embedded-opentype"), url("Lato-ThinItalic.ee249fa6.woff2") format("woff2"), url("Lato-ThinItalic.a8d4158c.woff") format("woff"), url("Lato-ThinItalic.0cd6b048.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

*, :before, :after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

*, :before, :after, ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.fixed {
  position: fixed;
}

.top-1 {
  top: .25rem;
}

.left-1 {
  left: .25rem;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.z-50 {
  z-index: 50;
}

.m-auto {
  margin: auto;
}

.m-8 {
  margin: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-48 {
  width: 12rem;
}

.flex-1 {
  flex: 1;
}

.table-auto {
  table-layout: auto;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.rounded {
  border-radius: .25rem;
}

.border-2 {
  border-width: 2px;
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.p-4 {
  padding: 1rem;
}

.p-2 {
  padding: .5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.text-center {
  text-align: center;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

body {
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h2 {
  margin-top: 4rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  h2 {
    margin-top: 6rem;
  }
}

h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {
  h3 {
    margin-top: 3rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

a {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

li {
  font-size: 1.125rem;
  line-height: 1.75;
}

.btn {
  border-radius: .25rem;
  padding: .5rem 1rem;
  font-weight: 700;
}

.btn-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-blue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

nav a {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding: .5rem 1rem;
  display: block;
}

@media (min-width: 640px) {
  nav a {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    padding: 1rem;
    font-weight: 100;
    display: block;
  }
}

#nav-button:before, .line, #nav-button:after {
  content: " ";
  height: 2px;
  width: 16px;
  background-color: #fff;
  margin-top: 4px;
  display: block;
}

#nav-button.light:before, .light .line, #nav-button.light:after {
  background-color: #666;
}

@media (min-width: 640px) {
  .sm\:bottom-auto {
    bottom: auto;
  }

  .sm\:mb-16 {
    margin-bottom: 4rem;
  }

  .sm\:mt-16 {
    margin-top: 4rem;
  }

  .sm\:inline-block {
    display: inline-block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:h-auto {
    height: auto;
  }

  .sm\:h-full {
    height: 100%;
  }

  .sm\:w-2\/3 {
    width: 66.6667%;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .sm\:justify-end {
    justify-content: flex-end;
  }

  .sm\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-center {
    text-align: center;
  }

  .sm\:text-right {
    text-align: right;
  }

  .sm\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .lg\:h-full {
    height: 100%;
  }
}

/*# sourceMappingURL=index.1d42ac3b.css.map */
