@import "./latofonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-xl;
  @apply mt-16;
}

@screen sm {
  h2 {
    @apply mt-24;
  }
}

h3 {
  @apply text-lg;
}

@screen sm {
  h3 {
    @apply text-lg mt-12;
  }
}
a {
  @apply text-blue-600;
}
li {
  @apply text-lg;
  line-height: 1.75;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

nav a {
  @apply py-2 px-4 block text-white;
}

@screen sm {
  nav a {
    @apply py-4 px-4 block text-gray-600 font-thin;
  }
}

/* nav { */
/*   display: none; */
/* } */

/* @screen sm { */
/*   nav { */
/*     display: flex !important; */
/*     flex-direction: row; */
/*   } */
/* } */

#nav-button:before,
.line,
#nav-button:after {
  margin-top: 4px;
  content: " ";
  height: 2px;
  width: 16px;
  display: block;
  background-color: white;
}

#nav-button.light:before,
.light .line,
#nav-button.light:after {
  background-color: #666;
}
